<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwill.project.repository.CommentLikeDao">
    
    <!-- 포스트 아이디로 좋아요와 싫어요 숫자를 검색 -->
    <select id="likeCount" resultType="CommentLike">
        select * from comment_like where comment_id = #{comment_id}
    </select>
    
    <!-- 해당 유저의 해당 포스트에 대한 좋,실 체크 테이블 뷰가 있는지를 검색 -->
    <select id="commentLikeCheck" resultType="int">
        select count(*) as count from comment_like_check where comment_id = #{comment_id} and user_id = #{user_id}
    </select>
    
    <!-- 해당 유저가 해당 테이블에 좋아요 혹은 싫어요를 눌렀는지를 검색 -->
    <select id="commentLikeDetailCheck" resultType="CommentLikeCheck">
        select * from comment_like_check where comment_id = #{comment_id} and user_id = #{user_id}
    </select>
    
    <!-- 해당 유저가 좋아요를 누르면 기록됨 -->
    <update id="likeCheck">
        update comment_like_check set like_check = like_check + 1 where comment_id = #{comment_id} and user_id = #{user_id}
    </update>
    
    <!-- 해당 유저가 싫어요를 누르면 기록됨 -->
    <update id="dislikeCheck">
        update comment_like_check set dislike_check = dislike_check + 1 where comment_id = #{comment_id} and user_id = #{user_id}
    </update>
    
    <!-- 해당 유저의 해당 포스터에 대한 좋,실 테이블 뷰를 생성 -->
    <insert id="makeCommentLikeCheck">
        INSERT INTO comment_like_check (comment_id, USER_ID) 
        VALUES (#{comment_id}, #{user_id})
    </insert>
    
    <!-- 좋아요 +1 -->
    <update id="commentLikeIncrease">
        UPDATE comment_like SET like_point = like_point + 1 WHERE comment_id = #{comment_id}
    </update>
    
    <!-- 싫어요 +1 -->
    <update id="commentLikeDecrease">
        UPDATE comment_like SET dislike_point = dislike_point + 1 WHERE comment_id = #{comment_id}
    </update>
    
    <!-- 좋아요 -1 -->
    <update id="commentLikeCancel">
        UPDATE comment_like SET like_point = like_point - 1 WHERE comment_id = #{comment_id}
    </update>
    
    <!-- 싫어요 -1 -->
    <update id="commentDislikeCancel">
        UPDATE comment_like SET dislike_point = dislike_point - 1 WHERE comment_id = #{comment_id}
    </update>
    
    <!-- 해당 유저가 좋아요 기록이 취소 됨 -->
    <update id="likeCheckCancel">
        update comment_like_check set like_check = like_check - 1 where comment_id = #{comment_id} and user_id = #{user_id}
    </update>
    
    <!-- 해당 유저가 싫어요 기록이 취소 됨 -->
    <update id="dislikeCheckCancel">
        update comment_like_check set dislike_check = dislike_check - 1 where comment_id = #{comment_id} and user_id = #{user_id}
    </update>
    
</mapper>