<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-40.40logger] %m%n" />
            <!-- 로그 패턴
                o. %d, %date: 로그가 발생한 날짜 시간.
                o. %p, %level: 로그 레벨. all < debug < info < warn < error < fatal < off
                o. %c, %logger: 로그를 쓰는 로거의 이름.
                o. %m, %msg, %messege: 로그 메시지.
                o. %n: 줄발꿈(new line) 
                o. %L, %line: 로그가 발생한 소스의 라인 번호.
            -->
        </Console>
    </Appenders>
    <Loggers>
    <!-- 이름이 com.zaxxer.hikari로 시작하는 Logger들은 info 레벨 이상의 로그만 출력 -->
    <Logger name="com.zaxxer.hikari" level="info" additivity="false">
        <AppenderRef ref="console" />
    </Logger>
    <!-- logger 출력 기본값: debug 이상을 출력 -->
        <Root level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>